<div class="container-fluid">
  <div class="container-xl">
   <div class="row">
     <div class="col-md-12">
       <div class="app-title">
         aafno<span class="bold">Bachat</span>
       </div>
     </div>
   </div>
    <app-insights></app-insights>

    <div class="row details-card">

      <div class="col-md-6">
        <div class="row">
          <div class="col">
           <app-earning></app-earning>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <app-receiving></app-receiving>
          </div>
        </div>
      </div>

  
      <div class="col-md-6">
        <div class="row">
          <div class="col">
            <app-expense></app-expense>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <app-paying></app-paying>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>
